$buttonColor: #5FACBD;
$backgroundColor: #EEE;

body {
	.uploader {
		height: 100vh;
		color: #444;
		background-color: $backgroundColor;
		display: block;

		.info {
			padding-left: 1em;
			padding-right: 1em;
			display: flex;
			align-items: center;
			height: calc(100% - 70px);
		}

		.dropzone {
			padding-left: 1em;
			padding-right: 1em;
			height: calc(100% - 70px);
			display: none;

			.drop {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-left: 1em;
				padding-right: 1em;
				height: calc(100% - 90px);
				border: 3px dashed #CCC;
				background-color: darken($backgroundColor, 4);
				font-size: 1.5em;

				&.active {
					background-color: lighten($backgroundColor, 5);

					&.animated {
						background-size: 40px 40px;
						background-image: linear-gradient(-45deg, lighten($backgroundColor, 2.5) 25%, transparent 25%, transparent 50%, lighten($backgroundColor, 2.5) 50%, lighten($backgroundColor, 2.5) 75%, transparent 75%, transparent);
						animation: barberpole .8s linear infinite;
					}

					@keyframes barberpole {
						from  {
							background-position: 40px 0;
						}
						to {
							background-position: 0 0;
						}
					}
				}
			}

			button {
				margin-top: 1em;
				width: 100%;
				padding: 1em;
				background-color: $buttonColor;
				color: #FFF;
				border: none;
				font-size: 1em;

				&:disabled {
					cursor: not-allowed;
					background-color: lighten($buttonColor, 20);
				}

				&:not(:disabled) {
					&:hover {
						background-color: darken($buttonColor, 10);
					}

					&:active {
						background-color: darken($buttonColor, 20);
					}
				}
			}
		}
	}
}
