$buttonColor: #0069D9;

body {
	.uploader {
		height: 100vh;
		color: #444;
		background-color: #EEE;
		display: block;

		.info {
			padding-left: 1em;
			padding-right: 1em;
			display: flex;
			align-items: center;
			height: calc(100vh - 5em);

			//background: red;
			display: none;
		}

		.dropzone {
			padding-left: 1em;
			padding-right: 1em;
			height: calc(100vh - 5em);

			//background: blue;
			//display: none;

			.drop {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 620px;
				border: 3px dashed #ccc;

				//background: green;

				&.active {
					background-color: #FEFEFE;
				}
			}

			button {
				margin-top: 1em;
				width: 100%;
				padding: 1em;
				background-color: $buttonColor;
				color: #FFF;
				border: none;
				font-size: 1em;

				&:disabled {
					cursor: not-allowed;
					background-color: lighten($buttonColor, 20);
				}

				&:not(:disabled) {
					&:hover {
						background-color: darken($buttonColor, 10);
					}

					&:active {
						background-color: darken($buttonColor, 20);
					}
				}
			}
		}
	}
}
