body {
	height: 100vh;
	background: #EEE;

	.header {
		padding: 1em;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align: right;

		a.button {
			padding: .5em;
			padding-left: 1em;
			padding-right: 1em;
			background: #333;
			color: #EEE;
			text-decoration: none;
			border-radius: 1em;

			&.light {
				background: #EEE;
				color: #333;
			}

			span {
				padding-left: .5em;
				display: none;
			}

			&:hover span {
				display: inline;
			}
		}
	}
}

// Disable default styles to hide that the GUI is rendered in Electron

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
	user-select: none;
	cursor: default;
}

button:focus {
	outline:0;
}
