body {
	.header {
		padding-left: 1em;
		padding-right: 1em;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-align: right;
		-webkit-app-region: drag;

		button.button {
			padding: .5em;
			padding-left: 1em;
			padding-right: 1em;
			background: #333;
			color: #EEE;
			font-size: 1em;
			text-decoration: none;
			border-radius: 1em;
			border: none;
			-webkit-app-region: no-drag;

			&.light {
				background: #EEE;
				color: #333;
			}

			span {
				padding-left: .5em;
				display: none;
			}

			&:hover span {
				display: inline;
			}
		}
	}
}
