body {
	height: 100vh;
	background: #F8F8F8;
}

.container {
	height: calc(100vh - 4em);
	padding: 1em;
}

.header {
	margin-bottom: 1em;
	text-align: right;
}

.dropzone {
	height: calc(100vh - 6.5em);
	padding: 1em;
	border: 3px dashed #ccc;

	&:hover {
		background-color: #FEFEFE;
	}
}
