$progressBarBackgroundColor: #5FACBD;

body {
	.uploads {
		.upload {
			&:not(:last-child) {
				border-bottom: 1px solid #666;
			}

			.top-row {
				padding: 1em;
				padding-bottom: .5em;
				display: flex;

				.folder-name {
					font-weight: bold;
				}

				.cancel {
					margin-left: auto;
				}
			}

			.bottom-row {
				padding: 1em;
				padding-top: .5em;
				display: flex;
				align-items: center;

				.source-directory {
					color: darken(#EEE, 30);
				}

				.status-icon {
					font-size: 1.2em;
					margin-left: auto;
					color: darken(#EEE, 50);

					& svg:hover {
						color: darken(#EEE, 30) !important;
					}
				}
			}

			.progress {
				height: 20px;
				background-color: #333;

				@keyframes barberpole {
					from  {
						background-position: 40px 0;
					}
					to {
						background-position: 0 0;
					}
				}

				.bar {
					height: 100%;
					width: 0;
					background-color: $progressBarBackgroundColor;
					background-size: 40px 40px;
					background-image: linear-gradient(-45deg, lighten($progressBarBackgroundColor, 5) 25%, transparent 25%, transparent 50%, lighten($progressBarBackgroundColor, 5) 50%, lighten($progressBarBackgroundColor, 5) 75%, transparent 75%, transparent);
					animation: barberpole .8s linear infinite;
					transition: 'scale';

					&.paused {
						background-image: none;
					}
				}
			}
		}
	}
}
