body {
	.uploads {
		.upload {
			position: relative;
			background-color: #F2F2F2;
			border: 1px solid #E5E5E5;
			border-radius: 4px;

			&:not(:last-child) {
				margin-bottom: 1em;
			}

			.top-row {
				padding: 1em;
				padding-bottom: .5em;
				display: flex;

				.reference {
					font-weight: bold;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}

			.bottom-row {
				padding: 1em;
				padding-top: .5em;
				display: flex;
				align-items: center;

				.source-directory {
					width: auto;
					max-width: 85%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.controls {
					font-size: 1.2em;
					margin-left: auto;

					.hoverable {
						color: var(--action-gray-light) !important;

						& svg:hover {
							color: var(--action-gray-dark) !important;
						}
					}
				}
			}

			.progress {
				height: 20px;
				background-color: #E8E8E8;
				position: relative;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				overflow: hidden;

				@keyframes barberpole {
					from  {
						background-position: 40px 0;
					}
					to {
						background-position: 0 0;
					}
				}

				.bar {
					height: 100%;
					width: 0;
					background-color: var(--progress-bar-background-color-main);
					background-size: 40px 40px;
					background-image: linear-gradient(-45deg, var(--progress-bar-background-color-light) 25%, transparent 25%, transparent 50%, var(--progress-bar-background-color-light) 50%, var(--progress-bar-background-color-light) 75%, transparent 75%, transparent);
					animation: barberpole .8s linear infinite;
					transition: width .6s ease;

					&.paused {
						background-image: none;
					}

					&.stalled {
						background-image: none;
						background-color: var(--color-error-main);
					}
				}

				.speed {
					position: absolute;
					top: .115em;
					right: 1em;
				}
			}

			.error {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .8);
				color: #FFFFFF;
				border-radius: 4px;
				padding: 1em;
				box-sizing: border-box;
				text-align: center;

				.details {
					position: absolute;
					top: .5em;
					right: .5em;
				}

				.options {
					margin-top: 1em;

					span {
						display: inline-block;
						border: 2px solid #CCCCCC;
						padding: .25em;
						padding-left: .5em;
						padding-right: .5em;
						border-radius: 19px;
						width: 100px;

						&:hover {
							background-color: #f2f2f2;
						}

						&:active {
							background-color: #e5e5e5;
						}

						&:hover, &:active {
							color: #000000;
						}

						&:not(:last-child) {
							margin-right: 1em;
						}
					}
				}
			}

			.error-details {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: var(--color-error-main);
				color: #FFFFFF;
				z-index: 999;

				div.close {
					position: absolute;
					top: 0;
					right: 0;
					padding: 1em;
					border-bottom-left-radius: 4px;

					&:hover {
						background-color: var(--color-error-main-light);
					}
				}

				div.details {
					overflow: auto;
					height: calc(100% - 4em);
					margin-top: 3em;
					padding: 1em;
					padding-top: 0;
					font-size: 1.5em;
 				}
			}
		}
	}
}
