:root {
	--progress-bar-background-color-main: #7abac8;
	--progress-bar-background-color-light: #8cc3cf;
	--color-error-main: #b4080d;
	--color-error-light: #cc090f;

	--action-gray-dark: #373a3c;
	--action-gray-light: #81878b;

	--button-color: #034c6b;
	--button-color-dark: #023a52;
	--button-color-darker: #022838;
	--button-color-disabled: #5B8BA0;
	--dropzone-bg-color: #daefef;
	--dropzone-bg-color-light: #e3f3f3;
	--dropzone-bg-color-lighter: #ecf7f7;
}

body {
	margin: 0;
	padding: 0;

	height: 100vh;
	background-color: #FAFAFA;
	color: #373A3C;

	font: caption;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Disable default styles to hide that the GUI is rendered in Electron

	:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
		user-select: none;
		cursor: default;
	}

	:focus {
		outline:0;
	}
}
